# Write a function withdraw(balance, amount) that:

* Returns new balance if amount ‚â§ balance

* Returns "Insufficient Balance" otherwise

In [14]:
def withdraw(balance,amount):
    if amount <= balance:
        return balance - amount
    else:
        return 'Insufficient Balance'

In [18]:
print(withdraw(5000, 2000))   
print(withdraw(5000, 6000))

3000
Insufficient Balance

## Write a function calculate_grade(marks) that:

* Marks ‚â• 90 ‚Üí A

* 80‚Äì89 ‚Üí B

* 70‚Äì79 ‚Üí C

* 60‚Äì69 ‚Üí D

* Else ‚Üí F

In [24]:
def calculate_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= "70":
        return "C"
    elif marks >= 60:
        return "D"
    else:
        return "F"

In [26]:
calculate_grade(95)

'A'

## Write a function is_strong(password) that checks if the password:

* Has at least 8 characters

* Contains numbers

* Contains uppercase letters

* Contains lowercase letters

### Return True or False.

In [40]:
def is_strong(password):
    if len(password) < 8:
        return False

    has_number = False
    has_upper = False
    has_lower = False

    for char in password:
        if char.isdigit():
            has_number = True
        elif char.isupper():
            has_upper = True
        elif char.islower():
            has_lower = True

    if has_number and has_upper and has_lower:
        return True
    else:
        return False

In [51]:
print(is_strong("Hello123"))  
print(is_strong("hello123"))   
print(is_strong("HELLO123"))   
print(is_strong("Hello"))

True
False
False
False

## Write a function estimate_delivery(distance_km, speed_kmph) that returns how many hours the delivery will take.
### Use the formula: time = distance / speed

In [53]:
def estimate_delivery(distance_km,speed_kmph):
    if speed_kmph <= 0:
        return "speed must be greater than 0"

    time = distance_km / speed_kmph
    return time

In [55]:
print(estimate_delivery(100, 50))
print(estimate_delivery(150, 60))

2.0
2.5

## Mobile Data Usage Calculator

### Create a function remaining_data(total_gb, used_gb) that returns how much data is left.

In [5]:
def remaining_data(total_gb,used_gb):
    if used_gb > total_gb:
        return "Used data cannot be greater than total data"

    return used_gb - total_gb

In [9]:
print(remaining_data(10, 3))
print(remaining_data(20, 5))

-7
-15

## Write a function total_cost(tickets, price_per_ticket) that calculates the total cost.
### If tickets > 5, apply a 10% discount.

In [11]:
def total_cost(tickets,price_per_ticket):
    total = tickets * price_per_ticket
    
    if tickets > 5:
        total = total * 0.9
    return total

In [13]:
print(total_cost(3, 1000))
print(total_cost(6, 1000))

3000
5400.0

## Define a function fuel_efficiency(km, liters) that returns km per liter.

In [1]:
def fuel_efficiency(km, liters):
    if liters <= 0:
        return "Liters must be greater than 0"

    return km/liters

In [9]:
print(fuel_efficiency(200, 10))
print(fuel_efficiency(150, 5))

20.0
30.0

## Write a function extract_username(email) that returns everything before "@".

### Example: "ubaid@gmail.com" ‚Üí "ubaid"

In [11]:
def extract_username(email):
    if '@' in email:
        return email.split("@")[0]
    else:
        return "Invalid email"

In [15]:
extract_username("sameerajput@069gmail.com")

'sameerajput'

## Write a function process_transaction(balance, amount, transaction_type) that supports:

* "deposit" ‚Üí add amount

* "withdraw" ‚Üí subtract amount

* "transfer" ‚Üí subtract amount + 1% transfer fee

### Return the updated balance.
### If amount > balance (for withdraw/transfer), return "Transaction Failed".

In [5]:
def process_transaction(balance, amount, transaction_type):
    
    if transaction_type == "deposit":
        balance += amount
        return balance
    
    elif transaction_type == "withdraw":
        if amount > balance:
            return "Transaction Failed"
        balance -= amount
        return balance
    
    elif transaction_type == "transfer":
        fee = amount * 0.01
        total_deduction = amount + fee
        
        if total_deduction > balance:
            return "Transaction Failed"
        balance -= total_deduction
        return balance
    
    else:
        return "Invalid Transaction Type"

In [7]:
print(process_transaction(1000, 200, "deposit"))
print(process_transaction(1000, 200, "withdraw"))
print(process_transaction(1000, 200, "transfer"))
print(process_transaction(1000, 2000, "withdraw"))

1200
800
798.0
Transaction Failed

## Create a function assign_priority(age, emergency_level) that returns:

* "High" if age > 60 or emergency_level > 7

* "Medium" if age between 40‚Äì60 or emergency_level between 4‚Äì7

* "Low" otherwise

In [9]:
def assign_priority(age, emergency_level):
    if age > 60 or emergency_level > 7:
        return "High"
    elif 40 <= age <= 60 or 4 <= emergency_level <= 7:
        return "Medium"
    else:
        return"Low"

In [15]:
print(assign_priority(65, 3))
print(assign_priority(45, 2))
print(assign_priority(25, 5))
print(assign_priority(25, 2))

High
Medium
Medium
Low

## Write a function analyze_results(marks_list) 
### that returns:
    Highest marks

    Lowest marks
    
    Average
    
    Pass rate percentage
    Passing marks = 50
    
### Return the data in a dictionary.

In [21]:
def analyze_results(marks_list):
    
    highest = max(marks_list)
    lowest = min(marks_list)
    average = sum(marks_list) / len(marks_list)
    
    # Passing marks = 50
    passed_students = 0
    for marks in marks_list:
        if marks >= 50:
            passed_students += 1
    
    pass_rate = (passed_students / len(marks_list)) * 100
    
    return {
        "Highest Marks": highest,
        "Lowest Marks": lowest,
        "Average": average,
        "Pass Rate (%)": pass_rate
    }

In [23]:
marks = [45, 78, 90, 33, 67, 50]
result = analyze_results(marks)

print(result)

{'Highest Marks': 90, 'Lowest Marks': 33, 'Average': 60.5, 'Pass Rate (%)': 66.66666666666666}

## Airline Seat Booking With Constraints

### Write a function book_seat(seats, seat_requested):

### Constraints:

    If seat_requested not in seats ‚Üí return "Invalid Seat"
    
    If seat is "booked" ‚Üí return "Seat Already Booked"
    
    Otherwise book the seat and return updated seats dictionary

### Example seats dictionary:
{
  "1A": "free",
  "1B": "booked",
  "2A": "free"
}

In [29]:
def book_seat(seats, seat_requested):
    
    if seat_requested not in seats:
        return "Invalid Seat"
    
    if seats[seat_requested] == "booked":
        return "Seat Already Booked"
    
    seats[seat_requested] = "booked"
    return seats

In [33]:
seats = {
    "1A": "free",
    "1B": "booked",
    "2A": "free"
}
print(book_seat(seats, "1A")) 
print(book_seat(seats, "1B"))
print(book_seat(seats, "3A"))

{'1A': 'booked', '1B': 'booked', '2A': 'free'}
Seat Already Booked
Invalid Seat

## Write a function calculate_tax(salary) using slabs:

* 0‚Äì50,000 ‚Üí 0%

* 50,001‚Äì100,000 ‚Üí 5%

* 100,001‚Äì200,000 ‚Üí 12%

* Above 200,000 ‚Üí 20%

### Return total tax payable.

In [7]:
def calculate_tax(salary):
    
    tax = 0
    
    if salary <= 50000:
        tax = 0
    
    elif salary <= 100000:
        tax = (salary - 50000) * 0.05
    
    elif salary <= 200000:
        tax = (50000 * 0.05) + (salary - 100000) * 0.12
    
    else:
        tax = (50000 * 0.05) + (100000 * 0.12) + (salary - 200000) * 0.20
    
    return tax

In [9]:
print(calculate_tax(40000))
print(calculate_tax(75000))
print(calculate_tax(150000))
print(calculate_tax(300000))

0
1250.0
8500.0
34500.0

## Fraud Detection ‚Äì Suspicious Transaction Check

### Create a function is_suspicious(amount, location, hour):

    Mark transaction as suspicious if:
    
    amount > 100000
    
    OR country != "Pakistan"
    
    OR hour < 6 or hour > 22

### Return True or False.

In [1]:
def is_suspicious(amount,location,hour):
    if (amount > 100000) or (location != "Pakistan") or (hour < 6 or hour > 22):
        return True
    
    else:
        return False

In [3]:
print(is_suspicious(150000, "Pakistan", 10))
print(is_suspicious(50000, "USA", 12))
print(is_suspicious(50000, "Pakistan", 2))
print(is_suspicious(50000, "Pakistan", 14))

True
True
True
False

## Create a Python program that:

### Defines a function calculate_ticket_price(age, day)

####    Ticket price rules:

*    Age < 12 ‚Üí 200 PKR
    
*    Age 12‚Äì18 ‚Üí 300 PKR
    
*    Age > 18 ‚Üí 500 PKR

*    If day == "Wednesday", apply 20% discount

*     Print the final ticket price

### üìù Example Output:
    Final Ticket Price: 400 PKR

In [17]:
def calculate_ticket_price(age, day):
    age = int(input("Enter age: "))
    day = input("Enter day: ")
    if age < 12:
        price = 200
    elif 12 <= age <= 18:
        price = 300
    else:
        price = 500

    if day.lower() == "wednesday":
        price = price * 0.80
    
    return price

final_price = calculate_ticket_price(age, day)

print(f"Final Ticket Price: {int(final_price)} PKR")

Enter age:  23
Enter day:  wednesday

Final Ticket Price: 400 PKR

## Create a Python program that:

### Defines a function attendance_percentage(total_classes, attended)

####    Calculates attendance percentage

   *     If percentage < 75, print
            "You are not allowed in exam"
            
   *     Otherwise print
            "You can sit in exam"

### üìù Example Output:
    Attendance: 82.5%
    You can sit in exam

In [37]:
def attendance_percentage(total_classes, attended):
    
    percentage = (attended / total_classes) * 100
    
    print(f"Attendance: {percentage:.1f}%")
    
    if percentage < 75:
        print("You are not allowed in exam")
    else:
        print("You can sit in exam")

total = int(input("Enter total classes: "))
attended = int(input("Enter attended classes: "))

attendance_percentage(total, attended)

Enter total classes:  100
Enter attended classes:  80

Attendance: 80.0%
You can sit in exam

## Create a Python program that:

### Defines a function delivery_charge(distance)

####    Delivery pricing:

*    First 5 km ‚Üí Free
            
*    Next 10 km ‚Üí 20 PKR per km
            
*    Above 15 km ‚Üí 30 PKR per km
            
*    Print the final delivery cost

### üìù Example Output:
    Delivery Charge: 250 PKR

In [1]:
def delivery_charge(distance):
    if distance <= 5:
        charge = 0
    elif distance <= 15:
        charge = (distance - 5) * 20
    else:
        charge = (10 * 20) + (distance - 15) * 30

    print(f"Delivery Charge: {charge} PKR")

distance = float(input("Enter delivery distance (km): "))
delivery_charge(distance)

Enter delivery distance (km):  15

Delivery Charge: 200.0 PKR

## Create a Python program that:

#### Defines a function count_character(text, char)

    Prints how many times char appears in text.

### üìù Example Output:
    Character 'a' appears 4 times.

In [9]:
def count_character(text,char):
    count = text.count(char)

    print(f"Character '{char}' appears {count} times.")

text = input("Enter a sentence: ")
char = input("Enter a character to count: ")

count_character(text, char)

Enter a sentence:  my
Enter a character to count:  m

Character 'm' appears 1 times.

## Create a Python program that:

### Defines a function called generate_bill(items)

    items will be a list of dictionaries, where each dictionary contains:

        "name" ‚Üí product name
        
        "price" ‚Üí product price
        
        "qty" ‚Üí quantity purchased
        
        The function should:

### Calculate the subtotal (price √ó qty for each item)

    Add 8% tax
    
    Add 5% service charge
    
    Return the final bill
    
    Also print each item in this format:
    
    ItemName ‚Äî Qty: X ‚Äî Total: Y

### üìù Example Input:
    items = [
        {"name": "Burger", "price": 450, "qty": 2},
        {"name": "Fries", "price": 200, "qty": 1},
        {"name": "Drink", "price": 150, "qty": 3}
    ]

### üìù Example Output:
    Burger ‚Äî Qty: 2 ‚Äî Total: 900
    Fries ‚Äî Qty: 1 ‚Äî Total: 200
    Drink ‚Äî Qty: 3 ‚Äî Total: 450
    Subtotal: 1550
    Tax (8%): 124.0
    Service Charge (5%): 77.5
    Final Bill: 1751.5

In [15]:
def generate_bill(items):
    
    subtotal = 0
    for item in items:
        item_total = item["price"] * item["qty"]
        subtotal += item_total
        print(f'{item["name"]} ‚Äî Qty: {item["qty"]} ‚Äî Total: {item_total}')
    
    tax = subtotal * 0.08
    service_charge = subtotal * 0.05
    
    final_bill = subtotal + tax + service_charge
    
    print(f"Subtotal: {subtotal}")
    print(f"Tax (8%): {tax}")
    print(f"Service Charge (5%): {service_charge}")
    print(f"Final Bill: {final_bill}")
    
    return final_bill

items = [
    {"name": "Burger", "price": 450, "qty": 2},
    {"name": "Fries", "price": 200, "qty": 1},
    {"name": "Drink", "price": 150, "qty": 3}
]

generate_bill(items)

Burger ‚Äî Qty: 2 ‚Äî Total: 900
Fries ‚Äî Qty: 1 ‚Äî Total: 200
Drink ‚Äî Qty: 3 ‚Äî Total: 450
Subtotal: 1550
Tax (8%): 124.0
Service Charge (5%): 77.5
Final Bill: 1751.5

1751.5

## Create a Python program that:

### Defines a function called generate_salary(employee)

####    The employee parameter will be a dictionary containing:

        "name" ‚Üí employee name
        
        "basic" ‚Üí basic salary
        
        "overtime_hours" ‚Üí extra hours worked
        
        "performance" ‚Üí string ("excellent", "good", "average", "poor")

### The function must:

#####    ‚úî 1. Calculate Gross Salary
    
    Gross = basic salary
    
    overtime pay
    
    performance bonus
    
#####    ‚úî 2. Overtime Pay Rules
    
    1 overtime hour = 300 PKR
    
####    ‚úî 3. Performance Bonus Rules
    
    excellent ‚Üí 20% of basic
    
    good ‚Üí 10%
    
    average ‚Üí 5%
    
    poor ‚Üí 0%
    
#####    ‚úî 4. Apply Deductions
    
    Income tax = 12% of gross
    
    Medical insurance = 1000 PKR
    
#####    ‚úî 5. Return & print a full salary slip with this format:
        Employee: Ali
        Basic Salary: 50000
        Overtime Pay: 6000
        Performance Bonus: 10000
        Gross Salary: 66000
        Income Tax (12%): 7920
        Medical Insurance: 1000
        Net Salary: 57080

### üìù Example Input:
    employee = {
        "name": "Ali",
        "basic": 50000,
        "overtime_hours": 20,
        "performance": "excellent"
    }

### üìù Example Output:
    Employee: Ali
    Basic Salary: 50000
    Overtime Pay: 6000
    Performance Bonus: 10000
    Gross Salary: 66000
    Income Tax (12%): 7920
    Medical Insurance: 1000
    Net Salary: 57080

In [19]:
def generate_salary(employee):
    
    name = employee["name"]
    basic = employee["basic"]
    overtime_hours = employee["overtime_hours"]
    performance = employee["performance"].lower()
    
    overtime_pay = overtime_hours * 300
    
    if performance == "excellent":
        bonus = basic * 0.20
    elif performance == "good":
        bonus = basic * 0.10
    elif performance == "average":
        bonus = basic * 0.05
    else:
        bonus = 0
    
    gross = basic + overtime_pay + bonus
    
    income_tax = gross * 0.12
    medical_insurance = 1000
    
    net_salary = gross - income_tax - medical_insurance
    
    print(f"Employee: {name}")
    print(f"Basic Salary: {basic}")
    print(f"Overtime Pay: {overtime_pay}")
    print(f"Performance Bonus: {bonus}")
    print(f"Gross Salary: {gross}")
    print(f"Income Tax (12%): {income_tax}")
    print(f"Medical Insurance: {medical_insurance}")
    print(f"Net Salary: {net_salary}")
    
    return net_salary

employee = {
    "name": "Ali",
    "basic": 50000,
    "overtime_hours": 20,
    "performance": "excellent"
}

generate_salary(employee)

Employee: Ali
Basic Salary: 50000
Overtime Pay: 6000
Performance Bonus: 10000.0
Gross Salary: 66000.0
Income Tax (12%): 7920.0
Medical Insurance: 1000
Net Salary: 57080.0

57080.0

## Create a Python program that:

### Defines a function calculate_patient_bill(patient)

    patient is a dictionary with keys: "name", "days_admitted", "room_type", "tests"

### Rules:

    Room charges per day:
    
        "General": 2000
        
        "Semi-Private": 4000
        
        "Private": 6000
        
        Test charges = sum of all test costs in tests list
        
        Apply 10% insurance discount on total
        
        Print the full bill with patient name, room charges, test charges, discount, and net bill

### üìù Example Input:
    patient = {
        "name": "Ali",
        "days_admitted": 3,
        "room_type": "Private",
        "tests": [1500, 2000, 500]
    }

### üìù Example Output:
    Patient: Ali
    Room Charges: 18000
    Test Charges: 4000
    Subtotal: 22000
    Insurance Discount (10%): 2200
    Net Bill: 19800

In [21]:
def calculate_patient_bill(patient):
    
    name = patient["name"]
    days = patient["days_admitted"]
    room_type = patient["room_type"]
    tests = patient["tests"]
    
    room_prices = {
        "General": 2000,
        "Semi-Private": 4000,
        "Private": 6000
    }
    
    room_charge_per_day = room_prices.get(room_type, 0)
    room_charges = room_charge_per_day * days
    
    test_charges = sum(tests)
  
    subtotal = room_charges + test_charges
    
    discount = subtotal * 0.10
    
    net_bill = subtotal - discount

    print(f"Patient: {name}")
    print(f"Room Charges: {room_charges}")
    print(f"Test Charges: {test_charges}")
    print(f"Subtotal: {subtotal}")
    print(f"Insurance Discount (10%): {discount}")
    print(f"Net Bill: {net_bill}")
    
    return net_bill

patient = {
    "name": "Ali",
    "days_admitted": 3,
    "room_type": "Private",
    "tests": [1500, 2000, 500]
}

calculate_patient_bill(patient)

Patient: Ali
Room Charges: 18000
Test Charges: 4000
Subtotal: 22000
Insurance Discount (10%): 2200.0
Net Bill: 19800.0

19800.0

## Create a Python program that:

### Defines a function course_progress(student)

    student is a dictionary: "name", "lessons_completed", "total_lessons", "quizzes" (list of scores)

### The function should:

    Calculate lesson completion %
    
    Calculate average quiz score
    
    Determine progress status:
    
    ‚â• 80% completion ‚Üí "On Track"
    
    50‚Äì79% ‚Üí "Needs Improvement"
    
    <50% ‚Üí "Behind"
    
    Print a progress report

### üìù Example Input:
    student = {
        "name": "Ubaid",
        "lessons_completed": 8,
        "total_lessons": 10,
        "quizzes": [80, 75, 90]
    }

### üìù Example Output:
    Student: Ubaid
    Lesson Completion: 80%
    Average Quiz Score: 81.7
    Progress Status: On Track

In [23]:
def course_progress(student):
    
    name = student["name"]
    lessons_completed = student["lessons_completed"]
    total_lessons = student["total_lessons"]
    quizzes = student["quizzes"]
    
    completion_percentage = (lessons_completed / total_lessons) * 100
    
    average_quiz = sum(quizzes) / len(quizzes) if quizzes else 0
    
    if completion_percentage >= 80:
        status = "On Track"
    elif 50 <= completion_percentage < 80:
        status = "Needs Improvement"
    else:
        status = "Behind"
    
    print(f"Student: {name}")
    print(f"Lesson Completion: {completion_percentage:.0f}%")
    print(f"Average Quiz Score: {average_quiz:.1f}")
    print(f"Progress Status: {status}")
    
    return {
        "completion_percentage": completion_percentage,
        "average_quiz_score": average_quiz,
        "status": status
    }

student = {
    "name": "Ubaid",
    "lessons_completed": 8,
    "total_lessons": 10,
    "quizzes": [80, 75, 90]
}

course_progress(student)

Student: Ubaid
Lesson Completion: 80%
Average Quiz Score: 81.7
Progress Status: On Track

{'completion_percentage': 80.0,
 'average_quiz_score': 81.66666666666667,
 'status': 'On Track'}

## Create a Python program that:

    Declares a global list tasks = []

    Defines a function add_task(task) ‚Üí adds task to tasks
    
    Defines a function remove_task(task) ‚Üí removes task if exists, else print "Task not found"
    
    Defines a function show_tasks() ‚Üí prints all current tasks

### üìù Example Function Calls:
    add_task("Complete Assignment")
    add_task("Read Book")
    remove_task("Sleep")
    show_tasks()

### üìù Example Output:
    Task not found
    Current Tasks: ['Complete Assignment', 'Read Book']

In [25]:
tasks = []

def add_task(task):
    tasks.append(task)

def remove_task(task):
    if task in tasks:
        tasks.remove(task)
    else:
        print("Task not found")

def show_tasks():
    print("Current Tasks:", tasks)

add_task("Complete Assignment")
add_task("Read Book")
remove_task("Sleep")
show_tasks()

Task not found
Current Tasks: ['Complete Assignment', 'Read Book']

## Create a Python program that:

### You have a list of employees:

    employees = [
        {"name": "Ali", "salary": 50000, "performance": 0.9},
        {"name": "Sara", "salary": 40000, "performance": 0.7},
        {"name": "Omar", "salary": 45000, "performance": 0.5}
    ]
    
    
    Using a lambda function:
    
    Calculate bonus = salary √ó performance for each employee
    
    Print employees whose bonus ‚â• 40000

### üìù Example Output:
    Ali ‚Äî Bonus: 45000

In [27]:
employees = [
    {"name": "Ali", "salary": 50000, "performance": 0.9},
    {"name": "Sara", "salary": 40000, "performance": 0.7},
    {"name": "Omar", "salary": 45000, "performance": 0.5}
]

bonus_calc = lambda emp: emp["salary"] * emp["performance"]

for emp in employees:
    bonus = bonus_calc(emp)
    if bonus >= 40000:
        print(f"{emp['name']} ‚Äî Bonus: {int(bonus)}")

Ali ‚Äî Bonus: 45000

## Create a Python program that:

### You have a list of students:

    students = [
        {"name": "Ubaid", "scores": [80, 90, 70]},
        {"name": "Ali", "scores": [60, 75, 65]},
        {"name": "Sara", "scores": [95, 85, 90]}
    ]
    
    
    Using a lambda function:
    
    Sort students by average score in descending order
    
    Print student names and average scores

### üìù Example Output:
    Sara ‚Äî Average: 90.0
    Ubaid ‚Äî Average: 80.0
    Ali ‚Äî Average: 66.7

In [29]:
students = [
    {"name": "Ubaid", "scores": [80, 90, 70]},
    {"name": "Ali", "scores": [60, 75, 65]},
    {"name": "Sara", "scores": [95, 85, 90]}
]

avg_calc = lambda s: sum(s["scores"]) / len(s["scores"])

students_sorted = sorted(students, key=avg_calc, reverse=True)

for student in students_sorted:
    avg = avg_calc(student)
    print(f"{student['name']} ‚Äî Average: {avg:.1f}")

Sara ‚Äî Average: 90.0
Ubaid ‚Äî Average: 80.0
Ali ‚Äî Average: 66.7

## Create a Python program that:

### You have a list of daily temperatures:

    temperatures = [22, 35, 28, 40, 18, 30]
    
    
    Using a lambda function:
    
    Filter all temperatures above 30¬∞C
    
    Print the hot days

### üìù Example Output:
    Hot Days: [35, 40]

In [31]:
temperatures = [22, 35, 28, 40, 18, 30]

hot_day = lambda t: t > 30

hot_days = list(filter(hot_day, temperatures))

print("Hot Days:", hot_days)

Hot Days: [35, 40]

## A school wants to identify top-performing students:

### Each student has name and average_score

    Use a lambda function to filter students with average score ‚â• 85
    
    Print names and scores
    
### üì• Input Example:
    students = [
        {"name": "Ubaid", "average_score": 80},
        {"name": "Ali", "average_score": 90},
        {"name": "Sara", "average_score": 88}
    ]

### üìù Example Output:
    Ali ‚Äî 90
    Sara ‚Äî 88

In [33]:
students = [
    {"name": "Ubaid", "average_score": 80},
    {"name": "Ali", "average_score": 90},
    {"name": "Sara", "average_score": 88}
]

top_student = lambda s: s["average_score"] >= 85

top_students = list(filter(top_student, students))

for student in top_students:
    print(f"{student['name']} ‚Äî {student['average_score']}")

Ali ‚Äî 90
Sara ‚Äî 88

## An online store calculates final prices dynamically:

### Function calculate_discount(price, category) ‚Üí category-based discounts:

    Electronics > $1000 ‚Üí 15%
    
    Clothing > $500 ‚Üí 10%
    
    Groceries ‚Üí 5%
    
    Function apply_coupon(price, coupon_code) ‚Üí nested function applies coupon:
    
    SAVE10 ‚Üí $10 off
    
    SAVE20 ‚Üí $20 off if price > $200
    
    Function final_price(price, category, coupon) ‚Üí combines discount + coupon + tax (8%)

### üì• Input Example:
    final_price(1200, "Electronics", "SAVE10")

### üìù Example Output:
    Price after discount: 1020
    Price after coupon: 1010
    Final Price with Tax: 1090.8

In [35]:
def calculate_discount(price, category):
    if category.lower() == "electronics" and price > 1000:
        return price * 0.15
    elif category.lower() == "clothing" and price > 500:
        return price * 0.10
    elif category.lower() == "groceries":
        return price * 0.05
    return 0


def apply_coupon(price, coupon_code):

    def coupon_discount(p):
        if coupon_code == "SAVE10":
            return 10
        elif coupon_code == "SAVE20" and p > 200:
            return 20
        return 0

    return coupon_discount(price)


def final_price(price, category, coupon):

    discount = calculate_discount(price, category)
    price_after_discount = price - discount
    print("Price after discount:", price_after_discount)

    coupon_discount = apply_coupon(price_after_discount, coupon)
    price_after_coupon = price_after_discount - coupon_discount
    print("Price after coupon:", price_after_coupon)

    tax = price_after_coupon * 0.08
    final_price_value = price_after_coupon + tax

    print("Final Price with Tax:", final_price_value)


final_price(1200, "Electronics", "SAVE10")

Price after discount: 1020.0
Price after coupon: 1010.0
Final Price with Tax: 1090.8

## A hotel calculates room charges:

### Function room_charges(nights, room_type) ‚Üí rates:

    Standard = $100/night
    
    Deluxe = $200/night
    
    Suite = $400/night
    
    Function additional_services(services) ‚Üí Breakfast=$20, Spa=$50, Gym=$10
    
    Function apply_membership_discount(amount, membership_years) ‚Üí 5% discount if membership > 2 years, 10% if >5 years
    
    Function total_bill(nights, room_type, services, membership_years) ‚Üí prints detailed bill

### üì• Input Example:
    total_bill(4, "Deluxe", ["Breakfast", "Spa"], 6)

### üìù Example Output:
Room Charges: 800
Additional Services: 70
Membership Discount: 87
Total Amount: 783

In [37]:
def room_charges(nights, room_type):
    rates = {
        "standard": 100,
        "deluxe": 200,
        "suite": 400
    }
    return nights * rates.get(room_type.lower(), 0)


def additional_services(services):
    service_cost = {
        "Breakfast": 20,
        "Spa": 50,
        "Gym": 10
    }
    return sum(service_cost.get(service, 0) for service in services)


def apply_membership_discount(amount, membership_years):
    if membership_years > 5:
        return amount * 0.10
    elif membership_years > 2:
        return amount * 0.05
    return 0


def total_bill(nights, room_type, services, membership_years):

    room_cost = room_charges(nights, room_type)
    service_cost = additional_services(services)

    subtotal = room_cost + service_cost
    discount = apply_membership_discount(subtotal, membership_years)

    total = subtotal - discount

    print("Room Charges:", room_cost)
    print("Additional Services:", service_cost)
    print("Membership Discount:", int(discount))
    print("Total Amount:", int(total))

total_bill(4, "Deluxe", ["Breakfast", "Spa"], 6)

Room Charges: 800
Additional Services: 70
Membership Discount: 87
Total Amount: 783

## A school calculates student performance:

### Each student has marks in Math, Science, English, History

    Function average_score(marks) ‚Üí calculates average
    
    Function grade(avg) ‚Üí nested function assigns grade:
    
    ‚â•90 ‚Üí A, 80‚Äì89 ‚Üí B, 70‚Äì79 ‚Üí C, 60‚Äì69 ‚Üí D, <60 ‚Üí F
    
    Function honor_roll(avg, extracurricular) ‚Üí gives "Honor Roll" if avg ‚â•85 and extracurricular ‚â•3
    
    Function student_summary(student) ‚Üí prints name, average, grade, honor roll status

### üì• Input Example:
    student = {"name":"Ali", "marks":[85,90,80,95], "extracurricular":3}
    student_summary(student)

### üìù Example Output:
    Name: Ali
    Average Score: 87.5
    Grade: B
    Honor Roll: Yes

In [42]:
def average_score(marks):
    return sum(marks) / len(marks)


def grade(avg):
    def assign_grade(score):
        if score >= 90:
            return "A"
        elif score >= 80:
            return "B"
        elif score >= 70:
            return "C"
        elif score >= 60:
            return "D"
        else:
            return "F"

    return assign_grade(avg)


def honor_roll(avg, extracurricular):
    if avg >= 85 and extracurricular >= 3:
        return "Yes"
    return "No"


def student_summary(student):

    name = student["name"]
    marks = student["marks"]
    extracurricular = student["extracurricular"]

    avg = average_score(marks)
    g = grade(avg)
    honor = honor_roll(avg, extracurricular)

    print("Name:", name)
    print("Average Score:", round(avg, 1))
    print("Grade:", g)
    print("Honor Roll:", honor)

student = {"name": "Ali", "marks": [85, 90, 80, 95], "extracurricular": 3}
student_summary(student)

Name: Ali
Average Score: 87.5
Grade: B
Honor Roll: Yes

## A store applies layered discounts:

    Function base_discount(price) ‚Üí 5%
    
    Function category_discount(price, category) ‚Üí Electronics=10%, Clothing=8%, Grocery=3%
    
    Function coupon_discoun
    
    Function final_price(price, category, coupon) ‚Üí nested calls calculate total discounts + final price

### üì• Input Example:
    final_price(500, "Electronics", "SAVE10")

### üìù Example Output:
    Price after base discount: 475
    Price after category discount: 427.5
    Price after coupon: 417.5
    Final Price: 451.3 (with 8% tax)

In [47]:
def base_discount(price):
    return price * 0.05


def category_discount(price, category):
    category = category.lower()

    discounts = {
        "electronics": 0.10,
        "clothing": 0.08,
        "grocery": 0.03
    }

    return price * discounts.get(category, 0)


def coupon_discount(price, coupon):

    if coupon == "SAVE10":
        return 10
    elif coupon == "SAVE20" and price > 200:
        return 20
    return 0


def final_price(price, category, coupon):

    base = base_discount(price)
    price1 = price - base
    print("Price after base discount:", round(price1, 1))

    cat_disc = category_discount(price1, category)
    price2 = price1 - cat_disc
    print("Price after category discount:", round(price2, 1))

    coup_disc = coupon_discount(price2, coupon)
    price3 = price2 - coup_disc
    print("Price after coupon:", round(price3, 1))

    final_amount = price3 + (price3 * 0.08)

    print("Final Price:", round(final_amount, 1))

final_price(500, "Electronics", "SAVE10")

Price after base discount: 475.0
Price after category discount: 427.5
Price after coupon: 417.5
Final Price: 450.9